.site-footer {
    padding-bottom: 72px;
    font-size: 11px;
    line-height: 19px;
    text-align : center;
    
    @media($sm) {
        text-align : left;
        font-family: $font-secondary;
    }

    h5 {
        font-size: 22px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 12px;
    }
    
    p {
        margin-bottom: 0;

        span {
            font-size: 22px;
            line-height: 24px;
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
        }
    }

    ul {
        border-bottom: 1px dashed rgba(31, 24, 39, 0.2);
        padding-bottom: 32px;
        margin-bottom: 24px;

        li {
            margin-bottom: 32px;
            &:last-child {
                margin-bottom: 0;
            }

            @media($sm) {
                width: 33.33%;
                float: left;
                margin-bottom: 0;
                padding-right: 12px;
                &:last-child {
                    text-align: right;
                    padding-right: 0;
                }
            }
            a {
                line-height: 22px;
            }
        }
    }
}