.home {
  
  h3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 8px;
    
    @media($sm) {
      font-size: 32px;
      line-height: 48px;
    }
  }

  p {
    font-size: 13px;
    line-height: 24px;
    color: #494055;
    margin-bottom: 40px;

    @media($sm) {
      font-size: 18px;
      line-height: 191.67%;
    }
  }

  h3, p {
    @media($xs) {
      text-align: center;
    }
  }

  .card-wrap {
    background: #FFFFFF;
    width: 100%;
    min-height: 272px;
    padding: 32px 24px;
    margin-bottom: 32px;

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
      color: #494055;

      span{
        color: #1F1827;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        display: block;
        margin-bottom: 8px;
      }
    }
  }


  .how-to-works {
    padding-top: 72px;
    position: relative;
    overflow: hidden;
    
  
    &:before{
      content: '';
      background: url(https://i.imgur.com/SUrsQCS.png) no-repeat center top / cover;
      width: 100px;
      height: 100px;
      display: inline-block;
      position: absolute;
      top: 0;
      right: -20px;
      border-radius: 100%;
    }
  
    .card-wrap {  
      &.active {
        box-shadow: 10px 10px 22px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .quality-courses {
    padding-top: 72px;
    position: relative;
    overflow: hidden;

    // background: url(https://i.imgur.com/ynRFy1C.png) no-repeat right / cover;
    height: 100%;
    width: 100%;

    &:before, &:after{
      content: '';
      background: url(https://i.imgur.com/SUrsQCS.png) no-repeat center top / cover;
      width: 100px;
      height: 100px;
      display: inline-block;
      position: absolute;
      left: -20px;
      border-radius: 100%;
    }

    &:before {
      top: 0;
    }
    &:after{
      bottom: 0;
    }

    .card-wrap {
      padding: 24px 20px;
      cursor: pointer;
      transition: background .5s ease-out;

      &:hover {
        background: #1F1827;
        box-shadow: 10px 10px 22px rgba(0, 0, 0, 0.15);

        p, p span, a {
          color: #FFFFFF;
        }
      }

      p {
        margin-bottom: 32px;
        color: #444444;
      }

      a {
        font-size: 13px;
        line-height: 24px;
        color: #333333;
      }
    }
  }

  .about-us {
    margin-bottom: 32px;
    
    .content{
      position: relative;
      z-index: 1;
      padding-top: 40px;

      &:before {
        content: 'About us';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 70px;
        font-weight: 700;
        color: #EBEBEB;
        z-index: -1;
        line-height: 1;
      }

      h3 {
        font-size: 40px;
        line-height: 54px;
      }
       p {
        font-size: 20px;
        line-height: 40px;
        color: #444444;
       }
    }

    .rgtside-img{
      border: 16px solid #FFFFFF;
      box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
      height: 100%;
      border-bottom-right-radius: 100px;

      img {
        width: 100%;
        height: 432px;
        border-bottom-right-radius: 100px;
      }
    }
  }

  .testimonial {
    margin-bottom: 64px;

    @media($sm) {
      margin-bottom: 80px;
    }

    .testimonial-card {
      position: relative;
      padding-top: 40px;
      margin-bottom: 40px;
      @media($sm) {
        padding-top: 56px;
      }

      .txt {
        background: #FEFEFE;
        box-shadow: 0px 2px 13px rgba(148, 151, 220, 0.4);
        padding: 32px;
        color: #444444;
        border-radius: 8px;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 20px;
        
        @media($sm) {
          font-size: 15px;
          line-height: 26px;
        }
      }

      .info {
        position: absolute;
        top: 0;
        left: 32px;

        img {
          width: 64px;
          height: 64px;
          border-radius: 100%;
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          border: 3px solid #FFF;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          @media($sm) {
            width: 84px;
            height: 84px;
          }
        }

        p {
          color: #A6A6A6;
          margin-bottom: 0;
          float: left;
          padding-left: 80px;
          min-height: 64px;
          margin-bottom: 0;
          font-size: 10px;
          line-height: 15px;
          
          @media($sm) {
            font-size: 11px;
            line-height: 16px;
            min-height: 84px;
            padding-left: 104px;
          }

          span {
            display: block;
            font-size: 15px;
            line-height: 22px;
            font-weight: 700;
            color: #414141;
            
            @media($sm) {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }

  .alert-info {
    color: #FFFFFF;
    background: #489CFF;
    padding: 32px;
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    bottom: -124px;
    transition: all, opacity .4s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &.show {
      bottom: 56px;
      box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
      opacity: 1;
      visibility: visible;
    }

    p {
        color: #FFFFFF;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;

        span {
            display: block;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
        }
    }
  }

  .pdg-modal {
    background: #1F1827;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: all .3s cubic-bezier(.25,.46,.45,.94);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    &.in {
      top: 0;
      visibility: visible;
    }

    &.three {
      .content-wrapper {
        @media($xs){
          padding: 110px 40px;
        }

        @media($md){
          width: 1093px;
        }

        h2 {
          @media($xs){
            padding: 0 4%;
          }
        }

        .pdgcard-outer {
          .pdg-card {
            @media($sm){
              width: 25%;
            }
          }
        }
      }
    }

    .content-wrapper {
      position: relative;
      margin: 0 auto;
      padding: 110px 16px;
      width: 100%;

      @media($sm){
        width: 682px;
        margin: 0 auto;
        padding: 106px 0 72px;
      }
    }

    h2 {
      text-align: center;
      color: #FAFAFA;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 40px;
      font-weight: 400;
      padding: 0 8%;
      
      @media($sm){
          font-size: 32px;
          line-height: 54px;
          padding: 0 12%;
      }
    }

    .pdgcard-outer {
      display: flex;
      flex-wrap: wrap;

      .pdg-card {
        background: #A5A3A9;
        box-shadow: 10px 10px 22px #000000;
        padding: 16px;
        margin-bottom: 32px;
        width: 50%;
        height: 168px;
        cursor: pointer;
        transition: background .5s ease-in-out;
        
        @media($sm){
          width: 33.33%;
          min-height: 220px;
          padding: 20px;
        }

        .vertical-center {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          background: #FFFFFF;
        }
  
        p {
          text-align: center;
          color: #494055;
          font-size: 8px;
          line-height: 12px;

          @media($sm){
            font-size: 9px;
            line-height: 13px;
          }
  
          span {
            font-weight: 600;
            display: block;
            margin-bottom: 8px;
            font-size: 13px;
            line-height: 19px;
            @media($sm){
              font-size: 16px;
              line-height: 24px;
            }
          }
        }

        img {
          display: block;
          margin: 0 auto 16px;
        }
      }
    }

    .pdg-close {
      font-size: 13px;
      line-height: 19px;
      color: #FAFAFA;
      position: absolute;
      top: 20px;
      right: 16px;
      cursor: pointer;

      @media($sm) {
        font-size: 16px;
        line-height: 24px;
        right: -72px;
      }
    }
  }
}
