.register-modal {
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  position: fixed;
  top: -100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 13;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &.flex-modal {
    .rg-modal-dialog {
      .rg-modal-body {
        .inner-content {
          overflow: hidden;
          @media ($sm) {
            display: flex;
          }
  
          .modal-img-outer .modal-img {
            height: 100%;
          }
        }
      }
    }
  }

  &.img-right {
    .rg-modal-dialog {
      .rg-modal-body {
        .inner-content {
          .modal-img-outer {
            @media ($sm) {
              float: right;
              padding-left: 8px;
            }
            .modal-img {
              @media ($sm) {
                height: 480px;
              }
            }
          }
        }
      }
    }
  }

  .rg-modal-dialog {
    margin: 40px 16px;
    @media ($sm) {
      margin: 40px auto;
    }

    @media ($sm) {
      width: 80%;
    }
    @media ($md) {
      width: 934px;
    }

    .rg-modal-header {
      color: #fafafa;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      i {
        font-size: 20px;
        cursor: pointer;

        &.disable {
          opacity: 0.4;
          pointer-events: none;
        }
      }
      span {
        font-size: 13px;
        line-height: 19px;
        cursor: pointer;

        @media ($md) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .rg-modal-body {
      height: calc(100vh - 120px);
      overflow: hidden;
      overflow-y: scroll;

      @media($sm){
        height: calc(100vh - 144px);
      }

      .inner-content {
        width: 100%;        

        .modal-img-outer {
          @media ($xs) {
            height: 218px;
          }
          @media ($sm) {
            width: 40%;
            float: left;
          }
  
          .modal-img {
            background-color: #fedfb6;
            background-image: url("https://i.imgur.com/cOlQpx7.png");
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center top;
            width: 100%;
            height: 100%;
            display: inline-block;
  
            @media ($sm) {
              background-image: url("https://i.imgur.com/pVItSUK.png");
              background-size: contain;
              background-position: center bottom;
              height: 640px;
            }
          }
        }
  
        .rg-modal-form {
          padding: 32px 16px;
          background: #ffffff;
  
          @media ($sm) {
            width: 60%;
            float: left;
            padding: 48px 40px;
          }
  
          p {
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 16px;
  
            &.heading-txt {
              font-size: 20px;
              line-height: 30px;
              font-weight: 700;
  
              @media ($md) {
                margin-bottom: 32px;
              }
              @media ($md) {
                font-size: 24px;
                line-height: 36px;
              }
            }
  
            .error {
              font-style: normal;
              vertical-align: top;
            }

            .error, &.has-error {
              color: #ff403b;
            }
          }
  
          .form-group {
            input {
                @media($sm){
                  height: 48px;
                  font-size: 13px;
                  line-height: 19px;
                }
            }
            &.mbl-no {
              input {
                @media($sm){
                  padding-left: 58px;
                }
              }
              span {
                @media($sm){
                  height: 48px;
                  line-height: 2.3;
                }
                @media($md){
                  padding: 8px 14px;
                }
              }
            }

            .control-select {
              select {
                @media($sm){
                  height: 48px;
                }
              }
            }
          }
  
          button {
            background: #1f1827;
            font-weight: bold;
            font-size: 13px;
            line-height: 22px;
            text-align: center;
            color: #ffffff;
            border-radius: 0;
            padding: 8px 12px;
            margin-top: 8px;
  
            @media ($md) {
              padding: 10px 16px;
            }

            &:focus {
              box-shadow: none;
            }
          }
  
          .ftr-text {
            text-align: center;
            margin-top: 16px;
  
            p {
              font-size: 8px;
              line-height: 12px;
  
              @media ($md) {
                font-size: 12px;
                line-height: 16px;
              }
  
              &.txt {
                font-size: 10px;
                line-height: 15px;
  
                @media ($md) {
                  font-size: 12px;
                  line-height: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
