.navbar-outer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1003;
  background-color: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 2px 4px 0 rgba(136, 136, 136, 0.1);

  nav {
    padding: 12px 0;
    min-height: 56px;

    @media ($sm) {
      min-height: 72px;
      padding: 16px 0;
    }
  }

  .logo {
    display: inline-block;

    img {
      max-width: 100%;
      height: 30px;
      @media ($sm) {
        height: 34px;
      }
    }
  }

  .rgt--links {
    padding: 6px 0;
    margin-bottom: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 17px;
        letter-spacing: -0.25px;
        color: #474360;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }

  .hamburger-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin-top: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    @media ($sm) {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 50%;
      background: #474360;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;

      &:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }
      &:nth-child(odd) {
        left: 0px;
        border-radius: 9px 0 0 9px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        top: 0px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        top: 8px;
      }
      &:nth-child(5),
      &:nth-child(6) {
        top: 16px;
      }
    }

    &.open {
      span {
        &:nth-child(1),
        &:nth-child(2) {
          top: 4px;
        }
        &:nth-child(3),
        &:nth-child(4) {
          opacity: 0;
        }
        &:nth-child(5),
        &:nth-child(6) {
          top: 12px;
        }

        &:nth-child(1),
        &:nth-child(6) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:nth-child(2),
        &:nth-child(5) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(1) {
          left: 2px;
        }

        &:nth-child(2) {
          left: calc(50% - 5px);
        }
        &:nth-child(3) {
          left: -50%;
        }

        &:nth-child(4) {
          left: 100%;
        }
        &:nth-child(5) {
          left: 2px;
        }
        &:nth-child(6) {
          left: calc(50% - 5px);
        }
      }
    }
  }
}
